<link rel="import" href="/static/bower_components/polymer/polymer.html">

<dom-module id="cb-page-profiles">
    <template>
        <vaadin-form-layout>
            <vaadin-form-item colspan="2">
                <label slot="label">Public Key</label>
                <textarea rows="6" value="{{publicKey::input}}" class="full-width" style="display: inline-flex; vertical-align: top;"></textarea>
            </vaadin-form-item>
            <vaadin-form-item colspan="2">
                <button on-click="findPublicKey">find</button>
                <button on-click="allUsers">all</button>
            </vaadin-form-item>
        </vaadin-form-layout>
        <template is="dom-repeat" items="{{users}}">
            <div>
                <a href="#/profile/{{item.id}}">{{item.id}}</a>
            </div>
        </template>
    </template>
    <script>PolymerGo("cb-page-profiles")</script>
</dom-module>