<link rel="import" href="/static/bower_components/polymer/polymer.html">
<link rel="import" href="/static/components/post/post.html">

<dom-module id="cb-page-profile">
    <template>
        <h1>Profile {{id}}</h1>
        <div>{{publicKey}}</div>
        <br/>
        <template is="dom-repeat" items="{{posts}}">
            <cb-component-post post="[[item]]"></cb-component-post>
        </template>
    </template>
    <script>PolymerGo("cb-page-profile")</script>
</dom-module>