<link rel="import" href="/static/bower_components/polymer/polymer.html">
<link rel="import" href="/static/bower_components/vaadin-dialog/vaadin-dialog.html">

<link rel="import" href="/static/components/create-post/create-post.html">
<link rel="import" href="/static/components/post/post.html">

<dom-module id="cb-page-posts">
    <template>
        <cb-component-create-post></cb-component-create-post>
        <br/>
        <template is="dom-repeat" items="[[posts]]">
            <cb-component-post post="[[item]]" ></cb-component-post>
        </template>
        <vaadin-dialog opened="{{showError}}">
            <div>{{error}}</div>
        </vaadin-dialog>
    </template>
    <script>PolymerGo("cb-page-posts")</script>
</dom-module>