<link rel="import" href="/static/bower_components/polymer/polymer.html">

<dom-module id="cb-component-textarea">
    <template>
        <textarea rows="6" value="{{value::input}}" class="full-width" style="display: inline-flex; vertical-align: top;" ></textarea>   
        <button on-click="copy">Copy</button>         
    </template>
    <script>PolymerGo("cb-component-textarea")</script>
</dom-module>