<link rel="import" href="/static/bower_components/polymer/polymer.html">
<link rel="import" href="/static/bower_components/app-route/app-location.html">
<link rel="import" href="/static/bower_components/app-route/app-route.html">
<link rel="import" href="/static/bower_components/iron-pages/iron-pages.html">

<link rel="import" href="/static/pages/registration/registration.html">
<link rel="import" href="/static/pages/profile/profile.html">
<link rel="import" href="/static/pages/profiles/profiles.html">
<link rel="import" href="/static/pages/posts/posts.html">
<link rel="import" href="/static/pages/post/post.html">


<dom-module id="cb-page-router">
    <template>
        <br/>
        <a href="#/">Home</a>
        <a href="#/registration">Registration</a>
        <a href="#/profiles">Profiles</a>
        <app-location route="{{route}}" use-hash-as-path></app-location>
        <app-route route="{{route}}" pattern="/:page" data="{{data}}" tail="{{patternTail}}" ></app-route>
        <app-route route="{{patternTail}}" pattern="/:id" data="{{idata}}" ></app-route>
        
        <div>
            <iron-pages selected="[[data.page]]" attr-for-selected="name">
                <cb-page-posts name=""></cb-page-posts>
                <cb-page-registration name="registration"></cb-page-registration>
                <cb-page-profiles name="profiles"></cb-page-profiles>
                <cb-page-profile name="profile" id="{{idata.id}}"></cb-page-profile>
                <cb-page-post name="post" id="{{idata.id}}"></cb-page-post>
            </iron-pages>
        </div>

    </template>
    <script>PolymerGo("cb-page-router")</script>
</dom-module>