<link rel="import" href="/static/bower_components/polymer/polymer.html">
<link rel="import" href="/static/bower_components/vaadin-dialog/vaadin-dialog.html">
<link rel="import" href="/static/components/delete-post/delete-post.html">


<dom-module id="cb-component-post">
    <template>
        <div>ID:
            <span><a href="#/post/{{post.id}}">{{post.id}}</a></span>
            <button on-click="deletePost">x</button>
        </div>
        <div>User:
             <a href="#/profile/{{post.userID}}">{{post.userID}}</a>
        </div>
        <div>Text:
            <span>{{post.text}}</span>
        </div>
        <vaadin-dialog opened="{{showDeletePost}}">
            <template>
                <cb-component-delete-post id="[[post.id]]"></cb-component-delete-post>
            </template>
        </vaadin-dialog>
        <vaadin-dialog opened="{{showError}}">
            <template>
                {{error}}
            </template>
        </vaadin-dialog>
    </template>
    <script>PolymerGo("cb-component-post")</script>

</dom-module>