<link rel="import" href="/static/bower_components/polymer/polymer.html">
<link rel="import" href="/static/bower_components/vaadin-valo-theme/vaadin-form-layout.html">
<link rel="import" href="/static/bower_components/vaadin-form-layout/vaadin-form-layout.html">
<link rel="import" href="/static/bower_components/vaadin-dialog/vaadin-dialog.html">

<dom-module id="cb-page-registration">
    <template>
        <vaadin-form-layout>
            <vaadin-form-item colspan="2">
                <label slot="label">Public key</label>
                <textarea rows="6" value="{{publicKey::input}}" class="full-width" style="display: inline-flex; vertical-align: top;"></textarea>
            </vaadin-form-item>
            <vaadin-form-item colspan="2">
                <button on-click="send">Send</button>
                <br/>
            </vaadin-form-item>
        </vaadin-form-layout>
        <vaadin-dialog id="error" opened="{{showError}}">
            <template>
                <div>{{error}}</div>
            </template>
        </vaadin-dialog>
    </template>
    <script>PolymerGo("cb-page-registration")</script>
</dom-module>