<link rel="import" href="/static/bower_components/polymer/polymer.html">

<dom-module id="cb-page-post">
    <template>
        <h1>Post {{id}}</h1>
        <div>User {{userId}}</div>
        <div>Text <p>{{text}}</p></div>
        <div>Signature <p>{{signature}}</p></div>
        <br/>
    </template>
    <script>PolymerGo("cb-page-post")</script>
</dom-module>