<link rel="import" href="/static/bower_components/polymer/polymer.html">
<link rel="import" href="/static/bower_components/vaadin-valo-theme/vaadin-form-layout.html">
<link rel="import" href="/static/bower_components/vaadin-form-layout/vaadin-form-layout.html">

<link rel="import" href="/static/components/textarea/textarea.html">

<dom-module id="cb-component-delete-post">
    <template>
        <h2>{{id}}</h2>
        <vaadin-form-layout>
            <vaadin-form-item colspan="2">
                <label slot="label">Text to sign</label>
                <cb-component-textarea value="[[text]]"></cb-component-textarea>
            </vaadin-form-item>
            <vaadin-form-item colspan="2">
                <label slot="label">Signature</label>
                <cb-component-textarea value="{{signature::input}}"></cb-component-textarea>
            </vaadin-form-item>
            <vaadin-form-item colspan="2">
                <button on-click="deletePost">Delete</button>
                <br/>
            </vaadin-form-item>
        </vaadin-form-layout>
    </template>
    <script>PolymerGo("cb-component-delete-post")</script>
</dom-module>