<link rel="import" href="/static/bower_components/polymer/polymer.html">
<link rel="import" href="/static/bower_components/vaadin-valo-theme/vaadin-form-layout.html">
<link rel="import" href="/static/bower_components/vaadin-form-layout/vaadin-form-layout.html">
<link rel="import" href="/static/bower_components/vaadin-dialog/vaadin-dialog.html">

<link rel="import" href="/static/components/textarea/textarea.html">

<dom-module id="cb-component-create-post">
    <template>
        <vaadin-form-layout>
            <vaadin-form-item colspan="2">
                <label slot="label">Text</label>
                <cb-component-textarea  value="{{text::input}}"></cb-component-textarea>
            </vaadin-form-item>
            <vaadin-form-item colspan="2">
                <label slot="label">Public key</label>
                <cb-component-textarea value="{{publicKey::input}}"></cb-component-textarea>
            </vaadin-form-item>
            <vaadin-form-item colspan="2">
                <label slot="label">Signature</label>
                <cb-component-textarea  value="{{signature::input}}"></cb-component-textarea>
            </vaadin-form-item>
            <vaadin-form-item colspan="2">
                <button on-click="createPost">Send</button>
                <br/>
            </vaadin-form-item>
        </vaadin-form-layout>
        <vaadin-dialog id="error" opened="{{showError}}">
            <template>
                <div>{{error}}</div>
            </template>
        </vaadin-dialog>
    </template>
    <script>PolymerGo("cb-component-create-post")</script>
</dom-module>